body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #0777;
    background: #777;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    background: #ebebeb;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
}

nav {
    background: #ebebeb;
}

section {
    background: #ebebeb;
    height: 200px;
    padding: 20px;
    width: 48%;
    margin-right: 20px;
}

aside {
    background: #ebebeb;
    float: right;
    width: 33%;
    height: 200px;
    padding: 20px;
    text-align: inherit;
    width: 45%;
}

footer {
    background: #ebebeb;
    height: 60px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}

article {
    color: #777;
    background: #ebebeb;
}